/* =======================
   Fontface
   ======================= */

@font-face {
   font-family: 'Union';
   src: url('../fonts/union-regular-webfont.eot');
   src: url('../fonts/union-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/union-regular-webfont.woff2') format('woff2'),
        url('../fonts/union-regular-webfont.woff') format('woff'),
        url('../fonts/union-regular-webfont.ttf') format('truetype'),
        url('../fonts/union-regular-webfont.svg#unionregular') format('svg');
   font-weight: normal;
   font-style: normal;
}
