/* =======================
   Modules
   ======================= */

// Modules are object-oriented rules that aims to create stand-alone working elements, independent from the container

.home-container {
	height: 100%;
	.huge-text-container {
		height: 100%;
	}
}

// Make it even more huge 
.container-fluid {
	transform: scale(1.1);
}
body {
	overflow: hidden; // fix scrolling bars due to scaling
}

.cursor-stop {
	cursor: url('../images/stop-cursor.png'), pointer;
	// cursor: pointer;
}

.cursor-play {
	cursor: url('../images/play-cursor.png'), pointer;
	// cursor: pointer;
}

.huge-text-container {
	padding: 60px 25px;
	position: relative;
	z-index: -1;
	font-size: 62.5%;
	transform-style: preserve-3d;
}

.huge-text {
	font-size: 10em;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 90%;
}

.v-center {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.quotes {
	text-transform: uppercase;
	// font-size: 10.5em;
	line-height: 90%;
	span {
		text-transform: none;
	}
}

.shout {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

// .btn-default {
// 	border-radius: 50%;
// 	border-width: 3px;
// 	border-color: $black;
// 	position: absolute;
// 	left: 15px;
// 	top: 15px;
// 	z-index: 10;
// 	color: $black;
// 	&:hover, &:active, &:focus {
// 		border-color: $black !important;
// 		background: #000 !important;
// 		color: #fff !important;
// 	}
// }

// .btn-about {
// 	color: #fff;
// 	background: $black;
// 	border-color: #fff;
// 	&:hover, &:active, &:focus {
// 		border-color: #fff !important;
// 		background: #fff !important;
// 		color: $black !important;
// 	}
// }

.btn-about {
	// display: block;
	// height: 70px;
	// width: 70px;
}

// .btn-menu {
// 	width: 40px;
// 	height: 40px;
// 	position: relative;
// 	span {
// 		font-size: 2.2em;
// 		position: absolute;
// 		top: -4px;
// 		left: 13px;
// 	}
// }

.btn-menu {
	i {
		// font-size: 1.1em;
	}
}

.about-container {
	max-width: 960px;
	margin-top: 5px;
	margin-bottom: 5px;
	h1 {
		font-size: 2.2em;
		text-indent: 112px;
		margin-left: 8px;
	}
	table {
		font-size: 2.2em;
		margin-top: 50px;
		margin-bottom: 50px;
		tr th {
			font-weight: normal;
			border: 0;
			text-indent: 6px;
			line-height: 1.3em;
			padding: 0 10px;
		}
		tr {border: 0;}
		tr > td {
			border: 0;
			padding: 0 15px;
			line-height: 1.3em;
		}
		tr > td:first-child {
			text-align: right;
			width: 10%;
		} 
	}
	p {
		font-size: 2.2em;
		line-height: 1.3em;
		margin-left: 16px;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.svg-home {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 1000;
	background: #fff;
	border-radius: 50%;
}
.svg-home:hover {
	// background: $black;
	// border-radius: 50%;
}
.svg-home:hover path {
    // fill: #fff;
}

.svg-about {
	width: 70px;
	height: 70px;
	position: fixed;
	left: 15px;
	top: 15px;
	z-index: 1000;
	background: $black;
	border-radius: 50%;
}
.svg-about path {
	fill: #fff;
}
.svg-about:hover {
	// background: #fff;
	// border-radius: 50%;
}
.svg-about:hover path {
    // fill: #000;
}

// .dropdown-menu {
// 	border-radius: 0;
// 	border-width: 0;
// 	top: 65px;
// 	left: 15px;
// 	padding: 0;
// 	li a {
// 		text-transform: uppercase;
// 		font-size: 2.5em;
// 	}
// }

// .about-text {
// 	font-size: 2em;
// }

// .gif {
// 	width: 100%;
// 	display: block;
// 	// text-align: center;
// 	img {
// 		// text-align: center;
// 		margin: auto;
// 	}
// }

// follower
// body {
// 	cursor: none;
// }
// .cursor-reset {
// 	cursor: default;
// }
// #follower {
// 	position: absolute;
// 	z-index: 999;
// 	color: $black;
// 	h3 {
// 		min-width: 226px;
// 		text-align: center;
// 		font-weight: 700;
// 		border: 3px solid $black;
// 		padding: 10px 15px;
// 		background: #fff;
// 	}
// }

/* webkit, opera, IE9 */
::selection { background:transparent; }
/* mozilla firefox */
::-moz-selection { background:transparent; }
