/* =======================
   Modules
   ======================= */

// Modules are object-oriented rules that aims to create stand-alone working elements, independent from the container

.home-container {
	height: 100%;
	position: relative;
	.huge-text-container {
		height: 100%;
	}
}

// Make it even more huge 
.container-fluid {
	transform: scale(1.1);
}
body {
	overflow: hidden; // fix scrolling bars due to scaling
}

.cursor-stop {
	cursor: url('http://nowherefestival.it/images/stop-cursor.png'), url('../images/stop-cursor.png'), pointer;
}

.cursor-play {
	cursor: url('http://nowherefestival.it/images/play-cursor.png'), url('../images/play-cursor.png'), pointer;
}

.huge-text-container {
	padding: 60px 25px;
	position: relative;
	z-index: -1;
	font-size: 62.5%;
	transform-style: preserve-3d;
}

.huge-text {
	font-size: 10em;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 90%;
}

.v-center {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.quotes {
	text-transform: uppercase;
	line-height: 90%;
	span {
		text-transform: none;
	}
}

.about-container {
	max-width: 960px;
	margin-top: 5px;
	margin-bottom: 5px;
	h1 {
		font-size: 2.2em;
		margin-left: 124px;
	}
	table {
		font-size: 2.2em;
		margin-top: 50px;
		margin-bottom: 50px;
		tr th {
			font-weight: normal;
			border: 0;
			text-indent: 6px;
			line-height: 1.3em;
			padding: 0 10px;
		}
		tr {border: 0;}
		tr > td {
			border: 0;
			padding: 0 15px;
			line-height: 1.3em;
		}
		tr > td:first-child {
			text-align: right;
			width: 10%;
		} 
	}
	p {
		font-size: 2.2em;
		line-height: 1.3em;
		margin-left: 123px;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.svg-home {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 1000;
	background: #fff;
	border-radius: 50%;
}

.svg-about {
	width: 70px;
	height: 70px;
	position: fixed;
	left: 15px;
	top: 15px;
	z-index: 1000;
	background: $black;
	border-radius: 50%;
}
.svg-about path {
	fill: #fff;
}

/* webkit, opera, IE9 */
::selection { background:transparent; }
/* mozilla firefox */
::-moz-selection { background:transparent; }
