/* =======================
   Responsive
   ======================= */

// Extra small devices (767px)
@media (max-width: $screen-xs-max) {

	.svg-home {
		top: 15px;
		left: 50%;
		margin-left: -35px;
	}

	.svg-about {
		top: 15px;
		left: 50%;
		margin-left: -35px;
	}

	.about-container {
		padding-top: 120px;
		padding-left: 50px;
	}

	.huge-text {
		transform: scale(1);
	}

	table, p, .about-container h1 {
		font-size: 1.4em !important;
	}

	.about-container h1 {
		text-indent: 0;
	}

}

// Small devices (from 768px to 991px)
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

	

}

// Medium devices (from 992px to 1199px)
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

	

}

// Large devices (from 1200px and up)
@media (min-width: $screen-lg-min) {

	.about-container {
		margin-left: 15%;
	}

}
