/* =======================
   State
   ======================= */

// Dynamically added classes for states, used by scripts

.is-hidden {
	display: none !important;
}

.is-blacked {
	background: black !important;
	color: #fff !important;
	border-color: #fff !important;
	p, h1, h2, h3, h4, h5, h6 {color: #fff !important;border-color: #fff !important;}
	// #follower {
	// 	h3 {
	// 		background: $black;
	// 	}
	// }
	.svg-home {
		background: $black;
	}
}

.is-active {
	display: block !important;
}