extends master

block title
	title title NOWHERE FESTIVAL 2016 - About

block content

	script.
		var d = document.getElementById("body");d.className += " is-blacked";d.className += " is-about";

	a(href="/")
		img(src="images/menu-i.svg").svg.svg-about
	
	.cursor-reset
		.container.about-container
			.about-page

				h1 Nowhere Festival 2016

				table.table
					thead
						tr
							th
							th Friday 15–Preview
					tbody
						tr
							td 22.30
							td LINO CAPRA VACCINA Live
						tr
							td 23.30
							td WILLIAM BASINSKI Live
						tr
							td 00.30
							td HIEROGLYPHIC BEING Live
						tr
							td 02.30
							td MEZE Dj Set

				table.table
					thead
						tr
							th
							th Friday 29–Day 1
					tbody
						tr
							td
							td Room 1
						tr
							td 23.30
							td PETIT SINGE Live
						tr
							td 00.30
							td BABYFATHER Live
						tr
							td 01.30
							td HOT SHOTZ (Powell + Lorenzo Senni) Live
						tr
							td 03.30
							td UNIT MOEBIUS Live
						tr
							td 04.30
							td LSWHR DJ Set
						tr
							td
							td Room 2
						tr
							td 00.00
							td KEY CLEF Live
						tr
							td 01.00
							td BALANCE Live
						tr
							td 02.00
							td MOROZOV DJ Set

				table.table
					thead
						tr
							th
							th Saturday 30–Day 2
					tbody
						tr
							td 23.30
							td PUNCTUM (Caterina Barbieri, Carlo Maria) Live
						tr
							td 00.30
							td DOPPLEREFFEKT Live
						tr
							td 01.30
							td SCAN 7 Live
						tr
							td 03.30
							td LUCIANO LAMANNA Dj Set
						tr
							td
							td Room 2
						tr
							td 23.30
							td OREN AMBARCHI Live
						tr
							td 00.00
							td BEATRICE DILLON Dj Set
						tr
							td 01.30
							td AWESOME TAPES FROM AFRICA DJ Set
						tr
							td 03.00
							td FLORIAN KUPFER DJ Set

				p Tickets:
					br
					| 3 days 	30,00€ + d.p.
					br
					| 15 April 10,00€
					br
					| 29 April 15,00€
					br
					| 30 April 15,00€
					br
					br
					| Ex Dogana
					br
					| Via dello Scalo di San Lorenzo 10
					br
					| Roma
					br
					br
					| Curated by #[a(href="http://www.facebook.com/lswhr.elsewhere") LSWHR]
					br
					a(href="mailto:info@nowherefestival.it") info@nowherefestival.it
					br
					br
					a(href="https://www.facebook.com/sharer/sharer.php?u=nowherefestival.it", target="_blank") Share on Facebook
