extends master

block title
	title LSWHR

block content

	//- include partials/header

	include partials/menu

	#popup-about.white-popup.mfp-hide
		p.about-text LSWHR. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eaque ad aut, officia adipisci quaerat quisquam, quidem nulla beatae mollitia laborum sapiente, sint et illo libero error rerum sequi. Temporibus.
	
	.gif.visible-sm.visible-xs
		img(src="images/gif.gif").img-responsive

	.container.hidden-sm.hidden-xs
		.huge-text-container
			h2.huge-text Nowhere Festival

			h2.quotes.huge-text.is-active Vaghe Stelle Live #[br] Saturday April 30
			h2.quotes.huge-text Beatrice Dillon #[br] Saturday April 30
			h2.quotes.huge-text Florian Kupper #[br] Saturday April 30
			h2.quotes.huge-text Orien Ambarchi #[br] Saturday April 30
			h2.quotes.huge-text Alva Noto Live #[br] Saturday April 30
			h2.quotes.huge-text Caterina Barbieri #[br] Saturday April 30
			h2.quotes.huge-text Dopplereffekt Live #[br] Saturday April 30
			h2.quotes.huge-text Unit Moebius #[br] Friday April 29
			h2.quotes.huge-text Hot Shotz Live #[br] Friday April 29
			h2.quotes.huge-text Baby Father #[br] Friday April 29
			//- h2.quotes.huge-text Baby Father #[br] #[span Dean Blunt] #[br] Friday April 29
			h2.quotes.huge-text Petit Singe Live #[br] Friday April 29
			h2.quotes.huge-text Hieroglyphic Being #[br] Friday April 15
			h2.quotes.huge-text William Basinski #[br] Friday April 15
			h2.quotes.huge-text Lino Capra Vaccina #[br] Friday April 15

			h2.huge-text Ex Dogana - Roma

	include partials/footer
	