extends master

block title
	title LSWHR

block content

	//- include partials/header

	//- include partials/menu

	a(href="/nowhere/about.html")
		//- span i
		//- i.fa.fa-info
		img(src="images/menu-i.svg").svg.svg-home

	//- #follower
	//- 	h3 CLICK TO STOP

	//- #popup-about.white-popup.mfp-hide
	//- 	p.about-text LSWHR. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eaque ad aut, officia adipisci quaerat quisquam, quidem nulla beatae mollitia laborum sapiente, sint et illo libero error rerum sequi. Temporibus.
	
	//- .gif.visible-sm.visible-xs
	//- 	img(src="images/gif.gif").img-responsive

	//- .container
	//- 	#fittext
	//- 		| NOWHERE FESTIVAL

	.container-fluid.home-container
		.huge-text-container
			h2.huge-text.fittext Nowhere Festival

			h2.quotes.huge-text.is-active.fittext Vaghe Stelle #[br] Live #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Beatrice #[br] Dillon #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Florian #[br] Kupper #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Orien #[br] Ambarchi #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Alva Noto #[br] Live #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Caterina #[br] Barbieri #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Dopplereffekt #[br] Live #[br] #[span Saturday April 30]
			h2.quotes.huge-text.fittext Unit #[br] Moebius #[br] #[span Friday April 29]
			h2.quotes.huge-text.fittext Hot Shotz #[br] Live #[br] #[span Friday April 29]
			h2.quotes.huge-text.fittext Baby Father #[br] #[span Dean Blunt] #[br] #[span Friday April 29]
			h2.quotes.huge-text.fittext Petit Singe #[br] Live #[br] #[span Friday April 29]
			h2.quotes.huge-text.fittext Hieroglyphic #[br] Being #[br] #[span Friday April 15]
			h2.quotes.huge-text.fittext William #[br] Basinski #[br] #[span Friday April 15]
			h2.quotes.huge-text.fittext Lino Capra #[br] Vaccina #[br] #[span Friday April 15]

			h2.huge-text.fittext Ex Dogana - Roma

	//- include partials/footer
	