extends master

block title
	title NOWHERE FESTIVAL 2016

block content

	script.
		var d = document.getElementById("body");d.className += " is-home";

	a(href="/about.html")
		img(src="images/menu-i.svg").svg.svg-home

	.container-fluid.home-container
		.huge-text-container
			.v-center
				h2.huge-text.fittext Nowhere Festival

				h2.quotes.huge-text.fittext Lino Capra #[br] Vaccina #[br] #[span Friday April 15]
				h2.quotes.huge-text.fittext William #[br] Basinski #[br] #[span Friday April 15]
				h2.quotes.huge-text.fittext Hieroglyphic #[br] Being #[br] #[span Friday April 15]
				h2.quotes.huge-text.fittext Meze #[br] DJ Set #[br] #[span Friday April 15]
				h2.quotes.huge-text.fittext Petit Singe #[br] Live #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Unit #[br] Moebius #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Fire at Work #[br] Live #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Babyfather #[br] #[span Dean Blunt] #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Morozov #[br] #[span DJ Set] #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Hot Shotz #[br] Live #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Balance #[br] Live #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Key Clef #[br] Live #[br] #[span Friday April 29]
				h2.quotes.huge-text.fittext Key Clef #[br] Live #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Dopplereffekt #[br] Live #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Luciano #[br] Lamanna #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Punctum #[br] Live #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Beatrice #[br] Dillon #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Scan 7 #[br] Live #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Awesome Tapes #[br] From Africa #[br] #[span Saturday April 30]
				h2.quotes.huge-text.fittext Florian #[br] Kupfer #[br] #[span Saturday April 30]

				h2.huge-text.fittext Ex Dogana–Roma
	